{% extends 'base.html' %}


{% block content %}
    <div class="product_info_img">
        <img src="{{ p.image.url }}">
    </div>
    <div class="product_detail">
        <div class="product_detail_name">
            {{p.name}}
        </div>
        <div class="product_detail_price">
            Price <span>${{p.price}}</span>
        </div>

        <form action="../cart/" method="post"> {% csrf_token %}
            <div class="add_to_cart">
            <input type="submit" value="add to cart">
            <input type="hidden" name="product_id" value="{{p.id}}">
         <!--   <input type="hidden" name="next" value="/cart/" /> -->
            </div>
        </form>

    </div>


{% endblock %}

