body {
	margin:0 auto;
	width:90%;
	max-width:1000px;
	padding:0 10px;
	overflow:auto;
}

/*連結去底線*/
a {
    text-decoration:none;
    color:black;
}

nav {
	/*margin:0 auto;*/
	width:1200px;
}

ul {
    list-style-type: none;
}

ul li {
/*  inline cannot set width
    display: inline;
*/
    float: left;
}

/*
body {
    margin:0px auto;

    margin-left:auto;
    margin-right:auto;
}
*/

/*
.header {
    width: 1140px;
    padding: 20px;
}
*/

.logo {
    float: left;
}


.user_login {
    float: right;
}

.product_info_img {
    float: left;
    margin: 0 50px 0 0;
}

.line {
    border-bottom:solid #e5e5e5;
}


.product-name {
    font-size: 16px;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
}

.product_detail_name {
    font-size: 32px;
}

.product_detail_price {
    font-size: 24px;
}