<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>{% block title %} {%  endblock %}</title>
<!--    <link rel="stylesheet" href="/static/css/DSdogs.css"> -->

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->

<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->


    <link rel="stylesheet" href="/static/css/DSdogs.css">
<!--    <link rel="stylesheet" href="/DSdogs/static/css/DSdogs.css"> -->

</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/">
            <img src="/static/images/logo.png">
            </a>
        </div>

        <div class="user_login">
            <a href="">Login</a>
            <a href="/cart/">Cart({{cart_items_count}})</a>
        </div>

    </div>
    <div style="clear:both"></div>
    <div class="line"></div>

    <nav>
        <ul>
        <li style="width:150px"><a href="">New Arrival</a></li>
        <li style="width:110px"><a href="">Hot</a></li>
        <li style="width:125px"><a href="">On Sale</a></li>
        <li style="width:120px"><a href="">Top</a></li>
        <li style="width:120px"><a href="">Paints</a></li>
        </ul>
    </nav>
    <div style="clear:both"></div>
    <h2>{% block h2 %} {% endblock %}</h2>
    {% block content %}{% endblock %}

</body>
</html>