<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {%  endblock %}</title>
    <link rel="stylesheet" href="/static/css/DSdogs.css">

</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/">
            <img src="/static/images/logo.png">
            </a>
        </div>

        <div class="user_login">
            <a href="">登入</a>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="line"></div>

    <nav>
        <ul>
        <li style="width:150px"><a href="">New Arrival</a></li>
        <li style="width:110px"><a href="">Hot</a></li>
        <li style="width:125px"><a href="">On Sale</a></li>
        <li style="width:120px"><a href="">Top</a></li>
        <li style="width:120px"><a href="">Paints</a></li>
        </ul>
    </nav>
    <div style="clear:both"></div>
    <h2>{% block h2 %} {% endblock %}</h2>
    {% block content %}{% endblock %}

</body>
</html>