{% extends 'base.html' %}


{% block content %}

        <div class="container-fluid">
            {% if product_name %}
            <h2>Successful add {{product_name}} to cart</h2>
            {% endif %}

            <div class="row">
                {% for p in products %}
                <div class="col-md-3">
                    <a href="product/{{p.id}}">
                    <img src="{{ p.image.url }}" width="100%">
                    </a>
                    <div class="product-info">
                        <div class="product-name">
                            {{ p.name }}
                        </div>

                        <div class="product-price">
                            ${{ p.price }}
                        </div>
                        <br>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

{% endblock %}
